/**************************
***************************
@author Elad Shechter
@category CSS
@project CSS Accessibility Validator
***************************
**************************/
/******CSS Accessibility Validator ******/
.message,
img:not([alt]):before,
img[alt=""]:before,
img[title=""]:before,
a:empty:after,
a[id]:empty:after,
a[title]:empty:after,
h1:empty:before,
h2:empty:before,
h3:empty:before,
h4:empty:before,
h5:empty:before,
h6:empty:before,
input[type="text"]:not([placeholder]):before,
input[type="password"]:not([placeholder]):before,
input[type="email"]:not([placeholder]):before,
input[type="url"]:not([placeholder]):before,
input[type="search"]:not([placeholder]):before,
input[type="tel"]:not([placeholder]):before,
textarea:not([placeholder]):before {
  width: 190px;
  padding: 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #ddd;
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.8);
  color: #000;
}
/**Errors**/
img {
  /****missing alt****/
  /****empty alt or title****/
}
img:not([alt]) {
  outline: solid 3px red;
  opacity: 0.2;
  animation: accessibility-test 1s linear 0s infinite alternate;
  /* Safari and Chrome: */
  -webkit-animation: accessibility-test 1s linear 0s infinite alternate;
  outline-color: #ff0000;
}
img:not([alt]):before {
  position: absolute;
  content: "Missing Alt/Title";
}
img[alt=""],
img[title=""] {
  outline: solid 3px red;
  opacity: 0.2;
  animation: accessibility-test 1s linear 0s infinite alternate;
  /* Safari and Chrome: */
  -webkit-animation: accessibility-test 1s linear 0s infinite alternate;
  outline-color: #ff0000;
}
img[alt=""]:before,
img[title=""]:before {
  position: absolute;
  content: "Empty Alt/Title";
}
/****Empty a tag with no ID****/
a:empty {
  outline: solid 3px red;
  opacity: 0.2;
  animation: accessibility-test 1s linear 0s infinite alternate;
  /* Safari and Chrome: */
  -webkit-animation: accessibility-test 1s linear 0s infinite alternate;
  outline-color: #ff0000;
  min-width: 10px;
  min-height: 10px;
  display: inline-block;
  position: relative;
}
a:empty:after {
  position: absolute;
  right: -200px;
  top: -20px;
  content: "Empty link tag - with no anchor(no ID) or title attribute or inner text";
}
a[id]:empty,
a[title]:empty {
  animation: none;
  -webkit-animation: none;
  min-width: 0;
  min-height: 0;
  display: inline;
  outline-width: 0;
  opacity: 1;
}
a[id]:empty:after,
a[title]:empty:after {
  animation: none;
  -webkit-animation: none;
  min-width: 0;
  min-height: 0;
  display: inline;
  outline-width: 0;
  opacity: 1;
  content: "";
  border-width: 0;
  padding: 0;
}
/****Empty Headers****/
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty {
  outline: solid 3px red;
  opacity: 0.2;
  animation: accessibility-test 1s linear 0s infinite alternate;
  /* Safari and Chrome: */
  -webkit-animation: accessibility-test 1s linear 0s infinite alternate;
  outline-color: #ff0000;
  min-height: 3px;
  position: relative;
}
h1:empty:before,
h2:empty:before,
h3:empty:before,
h4:empty:before,
h5:empty:before,
h6:empty:before {
  position: absolute;
  top: -15px;
  content: "Empty Header";
}
h1[title],
h2[title],
h3[title],
h4[title],
h5[title],
h6[title] {
  animation: none;
  -webkit-animation: none;
  min-width: 0;
  min-height: 0;
  display: inline;
  outline-width: 0;
  opacity: 1;
}
h1[title]:before,
h2[title]:before,
h3[title]:before,
h4[title]:before,
h5[title]:before,
h6[title]:before {
  animation: none;
  -webkit-animation: none;
  min-width: 0;
  min-height: 0;
  display: inline;
  outline-width: 0;
  opacity: 1;
  content: "";
}
/**Warnings**/
input[type="text"]:not([placeholder]),
input[type="password"]:not([placeholder]),
input[type="email"]:not([placeholder]),
input[type="url"]:not([placeholder]),
input[type="search"]:not([placeholder]),
input[type="tel"]:not([placeholder]),
textarea:not([placeholder]) {
  outline: solid 3px red;
  opacity: 0.2;
  animation: accessibility-test 1s linear 0s infinite alternate;
  /* Safari and Chrome: */
  -webkit-animation: accessibility-test 1s linear 0s infinite alternate;
  outline-color: #ffa500;
}
input[type="text"]:not([placeholder]):before,
input[type="password"]:not([placeholder]):before,
input[type="email"]:not([placeholder]):before,
input[type="url"]:not([placeholder]):before,
input[type="search"]:not([placeholder]):before,
input[type="tel"]:not([placeholder]):before,
textarea:not([placeholder]):before {
  position: absolute;
  content: "Recommended to add placeholder";
}
label[for] + input:not([placeholder]),
label[for] + textarea:not([placeholder]) {
  animation: none;
  -webkit-animation: none;
  min-width: 0;
  min-height: 0;
  display: inline;
  outline-width: 0;
  opacity: 1;
}
/**Not Recommended**/
iframe,
embed,
object {
  outline: solid 3px red;
  opacity: 0.2;
  animation: accessibility-test 1s linear 0s infinite alternate;
  /* Safari and Chrome: */
  -webkit-animation: accessibility-test 1s linear 0s infinite alternate;
  outline-color: #0000ff;
}
iframe:before,
embed:before,
object:before {
  position: absolute;
  content: "IFRAME/Flash content can make accessbility issues";
}
/*****Css Animation*****/
.animation1 {
  outline: solid 3px red;
  opacity: 0.2;
  animation: accessibility-test 1s linear 0s infinite alternate;
  /* Safari and Chrome: */
  -webkit-animation: accessibility-test 1s linear 0s infinite alternate;
}
@keyframes accessibility-test {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes accessibility-test {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.no-animation {
  animation: none;
  -webkit-animation: none;
}
.remove-error {
  animation: none;
  -webkit-animation: none;
  min-width: 0;
  min-height: 0;
  display: inline;
  outline-width: 0;
  opacity: 1;
}
