/****Empty Headers****/
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty{
	.animation1; outline-color:@error-color; min-height:3px; position:relative;
	&:before:extend(.message){position:absolute; top:-15px; content:"Empty Header";}
}

h1[title],
h2[title],
h3[title],
h4[title],
h5[title],
h6[title]{
	.remove-error;
	&:before{.remove-error; content:"";}
}